html {
	scroll-behavior: smooth;
	scroll-padding-top: 1rem;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

body {
	accent-color: rebeccapurple;
	background: var(--c-background);
	caret-color: currentcolor;
	color: var(--c-foreground);
	font-family: Arial, Helvetica, sans-serif;
}
