.section {
	margin-block-end: 1em;
}

.section h3 {
	font-size: 1rem;
	font-weight: normal;
	text-transform: capitalize;
}

.line {
	display: grid;
	grid-template-columns: 45fr 55fr;
	margin-block-end: 1em;
}

.chords {
	column-gap: 1em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(5ch, 1fr));
	row-gap: 0.5em;
}

.originalKey {
	min-width: 100px;
}
